{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ portofolio.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static portofolio.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ portofolio.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ portofolio.technology }}</p>
        <br>
        <h5>Language:</h5>
        <p>{{ portofolio.language }}</p>
        <br>
        <h5>Link to Project:</h5>
        <p>Link to: <a target="_blank" href={{ portofolio.link }}>{{ portofolio.title }}</a></p>
    </div>
</div>
{% endblock %}