{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="row justify-content-md-center" style="margin: 20px; margin-top: 50px;">
    <div class="col-md-6">
        <img src="{% static portofolio.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h3>{{ portofolio.title }}</h3>
        <h5>About the project:</h5>
        <p>{{ portofolio.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ portofolio.technology }}</p>
        <br>
        <h5>Language:</h5>
        <p>{{ portofolio.language }}</p>
        <br>
        <h5>Link to Project:</h5>
        <p>Link to: <a target="_blank" href={{ portofolio.link }}>{{ portofolio.title }}</a></p>
    </div>
</div>
{% endblock %}